/* src/index.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0a192f;
    color: #e6f1ff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1, h3 {
    color: #64ffda;
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  }
  